@font-face {
  font-family: "TT Lakes";
  src: url("/fonts/TTLakes-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "TT Lakes";
  src: url("/fonts/TTLakes-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "TT Lakes";
  src: url("/fonts/TTLakes-Medium.ttf");
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}

a {
  text-decoration: none;
  color: #1b1c21;
}

.main-container {
  font-family: "TT Lakes";
  font-size: 16px;
  color: #1b1c21;

  background-color: #f8f8f8;

  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;

  background-color: #ffffff;
  box-shadow: 0px 1px #d9fff5;

  padding: 20px;
}

.button {
  border: none;
  padding: 5px;
  background-color: #ff3e79;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.logo {
  height: 50px;
  width: auto;
}

.header__repair {
  margin-left: auto;
  position: relative;
}

.header__repair::before {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 20%;
  left: -20px;
  top: 5px;
  display: block;
  position: absolute;
}

.header__text {
  display: none;
}

.main {
  padding-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main__title {
  position: relative;
  padding-left: 16px;

  font-weight: 700;
  font-size: 28px;

  margin: 0;
}

.main__title::before {
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-radius: 25%;
  left: 0px;
  top: -5px;
  display: block;
  position: absolute;
}

.main__slide-menu {
  padding-left: 16px;

  height: 40px;
  position: relative;
}

.main__slide-menu::after {
  content: "";
  width: 24px;
  height: 40px;
  top: 0;
  right: 0px;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(248, 248, 248, 1) 40%
  );
}

.slide-menu {
  display: flex;
  overflow: scroll;
  column-gap: 20px;

  scrollbar-width: none;
}

.slide-menu__link {
  display: block;

  color: #7e7e82;

  white-space: nowrap;
  padding: 8px 10px;
}

.slide-menu__item--active {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.main__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description__text {
  font-size: 14px;
  max-height: 95px;
  overflow: hidden;

  padding-left: 16px;
  padding-right: 20px;
}

.main__read-more {
  border: none;
  padding: 0;
  padding-inline: 0;
  padding-block: 0;
  padding-left: 16px;
  display: block;
  height: 24px;

  font-family: "TT Lakes";
  font-weight: 500;
  color: #1b1c21;
  font-size: 14px;

  background-color: #f8f8f8;

  text-align:center;

  position: relative;

  margin-top: 16px;

  display: flex;
  gap: 10px;
  align-items: center;
}

.main__photo {
  max-width: 320px;
}

.header__call, 
.header__chat,
.header__profile {
  display: none;
}

@media (min-width: 768px) {

  .header__call, 
  .header__chat,
  .header__profile {
    display: block;
  }

  .header__call {
    margin-left: auto;
  }

  .header__repair {
    margin-left: 26px;
  }

  .header__logo {
    position: relative;
    margin-left: 26px;
  }

  .header__logo::after {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 20%;
    left: -20px;
    top: 10px;
    display: block;
    position: absolute;
  }

  .main__title {
    padding-left: 24px;
  }

  .main__slide-menu {
    padding-left: 24px;
  }

  .main__description {
    flex-direction: row;
    justify-content: space-around;
    gap: 48px;
  }

  .description__text {
    max-height: 160px;
    padding-right: 0;
    padding-left: 24px;
    line-height: 20px;
  }

  .main__read-more {
    padding-left: 24px;
  }

  .main__photo {
    min-width: 360px;
    height: auto;
    border-radius: 10px;
    padding-right: 24px;
  }
}

@media (min-width: 1120px) {

  .main-container {
    max-width: 1120px;
    position: relative;
    margin: 0 auto;
    box-shadow: 1000px 1000px #f8f8f8;
  }

  .main {
    padding-top: 42px;
  }

  .header { 
    background-color: #f8f8f8;
    position: absolute;
    right: 0;
    top: 20px;
  }

  .header__burger,
  .header__logo, 
  .header__call,
  .header__chat,
  .header__profile {
    display: none;
  }

  .header__text {
    display: flex;
    align-items: center;
    column-gap: 18px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
  }

  .header__repair {
    position: static;
    margin: 0;
  }
  
  .header__repair::before {
    height: 0;
  }

  .main__title,
  .main__slide-menu,
  .description__text,
  .main__read-more {
    padding-left: 32px;
  }

  .main__slide-menu {
    flex-wrap: wrap;
    height: auto;
  }

  .description__text {
    max-height: 490px;
  }

  .main__photo {
    height: 307px;
    max-width: none;
    min-width: auto;
  }
}