@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes-Medium.ttf);
  font-weight: 500;
}

body {
  margin: 0;

  background-color: #f8f8f8;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.reset {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.services {
  display: flex;
  flex-direction: column;
  font-family: "TT Lakes";
  font-size: 16px;
}

.services__title {
  margin: 0;
  padding: 16px;

  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7e7e82;

  position: relative;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
}

.services__title::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #d9fff5;
  top: 0;
  left: 0;
}

.services__button {
  display: none;
}

/*swiper styles*/

.services__swiper {
  width: 320px;
  height: auto;

  background-color: #f8f8f8;
  padding: 16px;

  mask-image: linear-gradient(to left, transparent 0%, #f8f8f8 20%);

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.swiper__list-item {
  flex: 0 0 240px;
  max-height: 72px;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  background-color: #ffffff;
}

.swiper__slide {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 16px;

  cursor: pointer;
}

.swiper__img {
  max-height: 40px;
  object-fit: none;
}

.swiper__button {
  display: inline-block;
  border: 2px solid #ff3e79;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  position: relative;
}

.swiper__button::before {
  content: "";
  position: absolute;
  border-right: 2px solid #ff3e79;
  border-top: 2px solid #ff3e79;
  height: 8px;
  width: 8px;
  top: 40%;
  left: 35%;
  transform: rotate(45deg);
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;

  cursor: pointer;
}

.swiper-pagination-bullet {
  background: #7e7e82;
}

@media (min-width: 321px) {
  .services__swiper {
    width: 100%;
    mask-image: none;
    padding: 24px;

    transition: all 0.3s ease-in-out;

    height: 200px;
  }

  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 224px);
    row-gap: 16px;
    column-gap: 24px;
    transition: all 0.3s ease-in-out;
  }

  .swiper-pagination {
    display: none;
  }
}

@media (min-width: 768px) {
  .services__title {
    padding: 16px 24px;
  }

  .services__swiper {
    overflow: hidden;
  }

  .services__button {
    display: flex;
    align-items: center;
    gap: 15px;

    background: none;
    border: none;
    width: fit-content;

    font-family: "TT Lakes";
    font-size: 16px;
    color: #1b1c21;
    font-weight: 500;

    margin-left: 24px;
    padding: 10px;

    position: relative;

    cursor: pointer;
  }

  .button__arrows {
    transition: all 0.3s ease-in-out;
  }

  .hidden {
    display: none;
  }
}

@media (min-width: 1120px) {
  .services {
    max-width: 1120px;
    margin: 0 auto;
  }

  .services__title {
    padding: 16px 32px;
  }

  .services__swiper {
    padding: 24px 32px;
  }

  .swiper-wrapper {
    row-gap: 16px;
    column-gap: 32px;

    grid-template-columns: repeat(auto-fit, 240px);
  }
}
